tr{
    background-color: #f2932e;
    color: #ffffff;
    
}

.button-list {
	color: #ffffff !important;
	border-collapse: separate !important;
	border: solid;
	border-width: 5px;
	border-color: #f2932e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	outline: none;
	padding: 2px 16px;
	background-color: #564f42;
	cursor: pointer;
}

.kleur-knop {
	background-color: #564f42 !important;
}

.kleur-text-knop {
	color: #ffffff;
	font-weight: bold;
}

.center-dit {
	margin-top: 10px !important;
}

.a-kleur {
	color: #ffffff !important;
	text-decoration: none !important;
}

.sterk{
    font-weight: bold;
}