body {
	font: 14px sans-serif;
	text-align: center;
}

.nav-tabs {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

table {
	margin: 0 auto;
	color: white;
	table-layout: fixed;
	border-collapse: separate !important;
	border-spacing: 0px 10px !important;
	/* change to increase/decrease spacing */
	width: 100%;
}

.notcompleted {
	background-color: #f2932e;
}

.notcompleted:a {
	color: white;
}

.completed {
	background-color: #898989;
	color: white;
}

td {
	text-align: center;
	border-bottom: 10px solid;
	position: relative;
}

tr.new > td:first-child:before {
	content: url('../images/icon/new.svg');
	width: 40px;
	height: auto;
	position: absolute;
	left: -0.9%;
	bottom: 60%;
	transform: rotate(-25deg);
}
/* tr>td:first-child {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

tr>td:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
} */

tr {
	padding: 15px;
	position: relative;
}

.challenge-row {
	cursor: pointer;
}

td > a {
	color: white;
}

td > a:hover {
	color: white;
	text-decoration: none;
}

/* Category */

tr.fail-fast > td {
	border-color: #db0a0a;
}

tr.connecting > td {
	border-color: #2164c6;
}

tr.sharing > td {
	border-color: #fff43a;
}

tr.be-you > td {
	border-color: #700464;
}

tr.fun > td {
	border-color: #c91896;
}

tr.battle > td {
	border-color: #010101;
}

tr.exploring > td {
	border-color: #3dbc08;
}

/* FILTER */

tr.filterDiv {
	display: none !important;
}

/* Style the buttons */
.filter-btn {
	border: none;
	outline: none;
	/* padding: 2px 16px; */
	padding: 0px 0px;
	background-color: #f2932e;
	cursor: pointer;
}

/* .filter-btn:hover {
	background-color: #564f42;
} */

.filter-btn.active {
	box-shadow: 0px 0px 10px #564f42;
}

tr.filter-show {
	display: table-row !important;
}
.button-list.active{
	border-color: #f2932e !important;
}
.button-list {
	color: #564f42 ;
	border-collapse: separate ;
	border: solid;
	border-width: 5px;
	border-bottom-color: #f2932e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	outline: none;
	padding: 2px 16px;
	background-color: #564f42;
	cursor: pointer;
	
}



.kleur-knop {
	background-color: #564f42 !important;
}

.kleur-text-knop {
	color: #ffffff;
	font-weight: bold;
}

.center-dit {
	margin-top: 10px !important;
}

.a-kleur {
	color: #ffffff !important;
	text-decoration: none !important;
}


.colortje{
	background-color: #FFF0D7;
	padding: 10px;

}