/* background color */
.color-oranje {
	background-color: #f2932e !important;
}

.color-bruin {
	border-block-color: #f2932e;
	background-color: #564f42;
}

/* this is for the color white  */
.color-wit {
	color: #ffffff;
}

.color-grijs {
	/* background-color: #564F42; */
	background-image: linear-gradient(#222020, #3f3b35, #564f42);
}

body {
	background-color: #fce5cf;
}

.btn {
	color: white;
}

.margin-iets{
	margin: 4px !important;
}

.schaduw-doos{
	box-shadow: 3px 3px 5px rgb(0, 0, 0) !important;
}

.behaald{
	background-color: #f2932e !important;
}

.niet-behaald{
	opacity: 30% !important;
	background-color: rgb(191,150,107) !important;
	
}