
<form method="post">
    <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="d-grid">
        <button class="btn btn-orange" type="submit">Request Reset Email</button>
        <a href="/login" class="btn btn-link">Remember Password?</a>
    </div>
</form>