<nav class="navbar custom-nav fixed-bottom navbar-light nav-justified bg-white">
    <a class="nav-link active" href="/profile"><i class="fas fa-user fa-2x"></i></a>
    <a class="nav-link" href="/challenges"><i class="fas fa-dice-five fa-2x"></i></a>
    <a class="nav-link" href="/leaderboard"><i class="fas fa-trophy fa-2x"></i></a>
    <a class="nav-link" href="/qrcode"><i class="fas fa-qrcode fa-2x"></i></a>
</nav>