<form method="post">
    <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="firstname" placeholder="First Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="company" placeholder="Company Name" value="<%= company %>" readonly>
    </div>
    <div class="d-grid">
        <button class="btn btn-orange" type="submit">Register</button>
        <a href="/login" class="btn btn-link">Already have an account?</a>
    </div>
</form>